.imgcon:hover {
    border-radius: 50%;
    -webkit-border-radius: 80%;
    box-shadow: 0px 0px 7px 7px #ec731e;
    -webkit-box-shadow: 0px 0px 7px 7px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.imgmodal {
    width: 100%;
}

.person {
    margin-top: 80px;
    margin-bottom: 20px;
    border-color: black;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

text {
    color: #ec731e;
}

header nav {
    background: rgba(42, 7, 243, 0.562);
}

.fo {
    background: rgba(42, 7, 243, 0.562);
}

body {
    scrollbar-face-color: #6685CA;
    scrollbar-highlight-color: #6685CA;
    scrollbar-shadow-color: #6685CA;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-track-color: #E5E5E5;
    scrollbar-drakshadow-color: #000000;
}